body {
  margin: 0;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.major_road { stroke: #888; fill: none;}
.minor_road { stroke: #ccc; fill: none;}
.highway { stroke: #e1a259; stroke-width: 1.5px; fill: none;}
.rail { stroke: #284b56; fill: none;}

.info {
/*  position: absolute;
  bottom: 10px;
  left: 10px;*/
}

.water {
    fill: #ccccff;
    stroke: none;
}
.resize {
  fill: rgba(100,100,100,.5);
  stroke: rgba(50,50,50, .9);
}
.extent {
  fill: rgba(100,100,100,.5);
  stroke: rgb(50,50,50);
}
.selectedGeoLoc {
  fill: #cb3e31;
  stroke: #643432;
}