// $iconSpritePath: "../images/glyphicons-halflings.png";
// $iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

// @import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

path {
    fill: none;
    stroke: #cccccc;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.mypath {
    fill: none;
    stroke: #ff0000;
    stroke-width: 2px;
}
.water {
    fill: #ccccff;
    stroke: none;
}
.major_road {
    stroke: black;
}
.minor_road {
    stroke: grey;
}
.highway {
    stroke: black;
    stroke-width: 1.5px;
}
.rail {
    stroke: black;
}
.notSelectedGeoLoc {
    display: none;
}
.selectedGeoLoc {
    display: block;
}

.selecting circle {
  fill-opacity: .2;
}

.selecting circle.selected {
  stroke: #f00;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}