$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

path {
    fill: none;
    stroke: #cccccc;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.mypath {
    fill: none;
    stroke: #ff0000;
    stroke-width: 2px;
}
.water {
    fill: #ccccff;
    stroke: none;
}
.major_road {
    stroke: black;
}
.minor_road {
    stroke: grey;
}
.highway {
    stroke: black;
    stroke-width: 1.5px;
}
.rail {
    stroke: black;
}
.notSelectedGeoLoc {
    display: none;
}
.selectedGeoLoc {
    display: block;
}

.selecting circle {
  fill-opacity: .2;
}

.selecting circle.selected {
  stroke: #f00;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}